.wrapper {
  position: relative;
  /* overflow-x: hidden; */
}

html,
body,
#app,
#app > div {
  height: 100% !important;
  width: 100% !important;
  overflow-x: hidden;
}

.popup {
  display: none;
}

.popup__background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.596);
  z-index: 98;
  display: flex;
}
.popup__content {
  position: fixed;
  width: 30vw;
  /* height: 50vh; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  z-index: 99;
}

.popup__title {
  padding: 1vh;
  font-size: 20px;
  margin: 0 1vw 3vh;
  border-bottom: 1px solid green;
  text-align: center;
  font-weight: 200;
  text-transform: uppercase;
  color: black;
}
.popup__contentText {
  text-align: justify;

  padding: 3vh 3vw;
}
.popup .singleCartItem__img {
  width: 100%;
  text-indent: 0;
}
@media (max-width: 1366px) {
  .popup__content {
    width: 60vh;
  }
}

@media (max-width: 1024px) {
  .popup__content {
    width: 70vh;
  }

  .popup .singleCartItem__infoSingle {
    text-indent: 0px;
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .popup__content {
    width: 50vh;
  }

  .popup .singleCartItem__infoSingle {
    text-indent: 0px;
    font-size: 14px;
  }
}
@media (max-width: 425px) {
  .popup__content {
    width: 80vw;
  }
  .popup__title {
    font-size: 14px;
  }
  .popup .singleCartItem__infoSingle {
    margin: 10px;
    font-size: 12px;
  }
  .popup .sendOrder {
    margin: 0 10px 15px;
    padding: 10px 15px;
  }
  .popup__contentText {
    font-size: 12px;
  }
}

@media (max-width: 375px) {
  .popup__content {
    width: 90vw;
  }
  .popup__title {
    font-size: 14px;
  }
  .popup .singleCartItem__infoSingle {
    margin: 10px;
    font-size: 12px;
  }
}
