.productSiteWrapper {
  overflow: hidden;
  background-image: linear-gradient(
      180deg,
      rgba(236, 236, 236, 0) 45vh,
      #111111 100vh
    ),
    url("/photos/szafaaa.jpg");
  background-repeat: no-repeat;
  background-attachment: inherit;
  z-index: -22;
}
.route {
  background-color: rgb(255, 255, 255);
  font-size: 12px;
  font-weight: 300;
  font-family: "Montserrat";
  letter-spacing: 2px;
  border-bottom: 1px solid rgb(223, 220, 220);
  border-top: 1px solid rgb(223, 220, 220);
  padding: 10px 0;
  margin-top: 2vh;
  margin-bottom: 10px;
  width: 100%;
}
.routeText {
  color: rgb(110, 110, 110);
  margin: 0 3px;
  display: flex;
  flex-wrap: wrap;
}
.routeText--selected {
  color: rgb(0, 0, 0);
}
.routeText--selected:hover {
  color: rgb(63, 63, 63);
}
.RouteText__text {
  display: flex;
}
.numberOfItems {
  color: rgb(133, 133, 133);
  font-size: 12px;
  text-align: right;
  margin-right: 5vw;
  margin-left: auto;
}
.headerProductsSite {
  height: 35vh;
  width: 100vw;
  overflow: hidden;
  /* margin: 1vh 1vw; */
  background-repeat: no-repeat;
  /* background-image: url("/photos/men.jpg"); */
  /* z-index: -2; */
  background-size: unset;
  display: flex;
  background-attachment: fixed;
  flex-direction: column;
  justify-content: flex-end;
}

.productSelectedName {
  display: block;
  text-align: right;
  font-size: 14px;
  font-weight: 400;
  font-family: "Montserrat";
  letter-spacing: 3px;
  box-sizing: border-box;
  margin-right: 5vw;
  padding-right: 1vw;
  border-right: 10px solid rgb(255, 255, 255);
  margin-bottom: 5vh;
  /* background-color: rgb(83, 83, 83); */
}
.productSelectedName--site {
  bottom: 0;
  right: 0;
  position: absolute;
}
.productSelectedName__type {
  /* border-bottom: 1px solid rgb(245, 245, 245); */
  box-sizing: content-box;
  font-size: 22px;
  font-weight: 200;

  color: rgb(255, 255, 255);
  padding: 0.2vh 10px;
}
.productSelectedName__typeInfo {
  margin: 0;
  /* border-right: 5px solid rgb(255, 242, 242); */
  font-size: 38px;
  font-family: "Raleway";
  font-weight: 900;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  padding-bottom: 2px;
  letter-spacing: 10px;
}

.catalog {
  /* height: 90vh; */
  font-size: 15px;
  font-weight: 40;
  font-family: "Montserrat";
  letter-spacing: 1.5px;
  display: flex;
  box-sizing: border-box;
  margin-bottom: 5vh;
  justify-self: center;
  margin: 0vh 1vw 2vh;
}

.catalog__filter {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
  font-weight: 500;
  background: linear-gradient(
    to left bottom,
    rgba(190, 190, 190, 0.021),
    rgb(255, 255, 255)
  );
  position: relative;
  width: 21;
  z-index: 29;
  box-shadow: 5px 5px 5px 1px rgba(184, 169, 169, 0.123);
}
.catalog__mainFilter {
  font-weight: 800;
  text-decoration: none;
  color: rgb(59, 59, 59);
  /* background-color: rgb(112, 70, 70); */
  display: block;
  box-shadow: 2px 2px 0px 0px rgba(255, 255, 255, 0.041);
  margin: 0px 0 12px;
  padding: 20px 20px 0;
  transition: 0.2s;
}

.catalog__mainFilter:hover {
  border-left: 1px solid rgb(202, 202, 202);
  /* box-shadow: 0px 0px 5px 5px rgba(14, 16, 27, 0.062); */
  transform: translateX(6px);
}

.catalog__mainText {
  cursor: pointer;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  display: block;
  font-size: 15px;
  font-weight: 400;
  padding: 0 20px;
  height: 3vh;
  line-height: 3vh;
  width: 100%;
  border-bottom: 1px solid rgb(192, 192, 192);
  border-right: 1px solid rgb(192, 192, 192);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.048);
  /* background-color: rgba(233, 147, 147, 0.082); */
  text-transform: uppercase;
  transition: 0.5s;
}

.expanditem {
  font-weight: 500;
  text-decoration: none;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0);
  font-size: 12px;
  /* letter-spacing: 1px; */
  display: block;
  margin: 3px 0 2px;
  padding: 20px 10px;
}

.catalog__exapandFilter {
  max-height: 0px;
  /* max-height: 100vh; */
  margin: 10px 0;
  overflow: hidden;
  transition: 0.4s ease-in;
}

.catalog__filterRange {
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 0vh 0 2vh;
  font-weight: 100;
  font-size: 10px;
}
.catalog__exapandFilter--open {
  max-height: 100vh;
}

.catalog__product-display {
  /* border: 2px solid rgb(206, 206, 206); */
  flex-grow: 1;
  height: 100%;
  display: flex;
  background-color: rgb(255, 255, 255);
  padding: 20px 100px;
  flex-wrap: wrap;
  justify-content: left;
  margin: 0;
}

.item {
  flex-basis: 20%;
  flex-grow: 1;
  max-width: 25%;
  margin: 5px 10px;
  overflow: hidden;
  transition: 0.3s;
  cursor: pointer;
  letter-spacing: 0.5px;
  /* transform: translate(0, -50px); */
  /* background-color: rgb(104, 104, 104); */
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: column;
}
.item__picture{
  flex-grow: 1;
}
.item__imgPicture {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.048), 0 3px 6px rgba(0, 0, 0, 0.014);
  width: 100%;
  transition: 0.2s;
}

.item__imgPicture:hover {
  transform: scale(0.98);
}
.item__imgPicture--loading {
  height: 50vh;
  display: flex;
  background-color: rgb(223, 223, 223);
}
.single_item-center {
  font-size: 50px;
  color: rgb(146, 146, 146);
  margin: auto;
  animation: 5s rotate2 infinite linear;
  transform-origin: 50% 50%;
}
@keyframes rotate2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.catalog__mainFilter:nth-last-child(1) {
  display: none;
}
.item__product-name {
  font-family: "Montserrat";
  margin-left: 2px;
  font-size: 12px;
  margin: 0.5em 0 0.5em 1vh !important;
}
.product__prize {
  display: inline;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 400;
  margin: 0 0 0 1vh !important;
}

.catalog__filterFixed {
  top: 5vh;
  left: 1vw;
  min-width: 300px;
  z-index: 1;
  transition: 0.1s;
}

.catalog__filterFixed--on {
  position: fixed;
}
.catalog__min,
.catalog__max {
  padding: 0 2vw;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* padding-bottom: 0.1vh; */

  cursor: pointer;
}
.noItems {
  font-size: 1em;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  align-items: center;
  padding: 3em;
}

.expanditem--selecting {
  padding: 1vh 0vh;
  border-bottom: 1px solid transparent;
  transition: 0.1s;
}
.expanditem--selecting:hover {
  border-bottom: 1px solid rgba(128, 128, 128, 0.425);
  transform: scale(1.02);
  box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.062);
}
.expanditem--sort {
  padding-left: 20px;
  border-left: 2px solid rgba(255, 255, 255, 0.26);
  cursor: pointer;
}
.expanditem--sort:hover {
  border-left: 5px solid rgb(255, 255, 255);
}
.catalog__mainFilter--main {
  box-shadow: none;
  letter-spacing: 4px;
  color: rgb(20, 20, 20);
  font-size: 16px;
  border-left: 15px solid rgb(255, 239, 244);
  font-weight: 300;
}
.mobile {
  width: 100%;
  display: none;

  flex-direction: column;
}

.btnFilter {
  flex-grow: 1;
  margin: 0vh 1vw 0;
  padding: 1.2vh 2vw;
  text-align: center;
  border-bottom: 1px solid rgb(192, 192, 192);
  border-right: 1px solid rgb(192, 192, 192);
  color: gray;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.048), 0 3px 6px rgba(0, 0, 0, 0.014);
}
.btnFilter:hover {
  user-select: none;
  color: rgb(243, 142, 142);
  background-color: rgba(231, 231, 231, 0.068);
}

.catalog__mainFilter--BTNS {
  background-color: rgba(255, 255, 255, 0.301);
  text-align: center;
  color: rgb(44, 44, 44);
}

.catalog__mainFilter--BTNS {
  position: -webkit-sticky;
  position: sticky;
  bottom: 20px;
}
.catalog__mainFilter:nth-last-child(2) {
  margin-top: auto;
}
.filterwg {
  font-size: 18px;
  font-weight: 100;
  margin: 2vh 0;
  border-left: 5px solid rgb(158, 157, 157);
  padding-left: 15px;
}
.number-page {
  border-bottom: 0.2px solid rgb(207, 207, 207);
  border-top: 0.2px solid rgb(221, 220, 220);
  padding: 1em;
  display: flex;

  justify-content: center;
}
.number-page__container {
  height: 100%;
  font-size: 18px;
  font-weight: 100;
  font-family: "Montserrat";
  width: 5em;
  letter-spacing: 1px;
  /* flex-grow: 1; */
  color: rgb(5, 5, 5);
  text-align: center;
  /* border: 1px solid rgba(194, 185, 185, 0.411); */
  cursor: pointer;
}
.number-page__container:nth-child(2) {
  display: block;
  /* border-left:.2px solid rgb(207, 207, 207) ;
  border-right:.2px solid rgb(221, 220, 220) ; */
}

.loadingSite {
  background-image: url("/photos/szafaaa.jpg");
  position: fixed;
  top: 5vh;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  margin: auto;
}
@media (max-width: 1366px) {
  .headerProductsSite {
    height: 30vh;
    overflow: hidden;
    background-position: center 0;
  }
}

@media (max-width: 1024px) {
  .headerProductsSite {
    height: 30vh;
    background-attachment: scroll !important
    ;

    overflow: hidden;
    background-position: center 0;
  }
  .catalog__mainFilter:nth-last-child(1) {
    display: block;
  }
  .catalog__mainText {
    display: block;
    color: rgb(255, 255, 255);
    border: 1px solid rgba(128, 128, 128, 0.541);
    box-sizing: border-box;
    font-size: 14px;
    height: 5vh;
    display: flex;
    align-items: center;
  }
  .catalog__filterList {
    display: block;
  }
  .catalog {
    padding: 10px;
  }
  .catalog__mainFilter {
    display: block;
    padding: 1vh 20px;
  }
  .filterwg {
    color: rgb(228, 227, 227);
    border-bottom: 1px solid rgba(255, 255, 255, 0.253);
    padding: 10px;
  }
  .catalog__exapandFilter {
    color: rgba(255, 255, 255, 0.89);
  }
  .expanditem {
    color: rgba(255, 255, 255, 0.849);
    font-size: 12px;
  }
  .productSelectedName__typeInfo {
    padding-top: 0;
    padding-bottom: 0;
  }
  .productSelectedName__type {
    font-size: 18px;
  }

  .catalog {
    flex-direction: column;
    margin-top: 2vh;
  }

  .catalog__filterList {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: white;
    background-color: rgba(0, 0, 0, 0.932);
    right: 0;
    left: 0;
    top: 4vh;
    bottom: 0;
    z-index: 2299;
    min-width: 40vw;
    margin-bottom: 0;
    transform: translateX(100%);
    transition: 0.2s;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px 0;
  }
  .catalog__filterList--open {
    transform: translateX(0%);
  }

  .catalog__product-display {
    padding: 0;
    width: 100%;
    justify-content: left;
  }

  .item {
    flex-basis: 20%;
  }
  .mobile {
    display: flex;
  }
}

@media (max-width: 768px) {
  .item {
  }
  .catalog {
    margin: 0 0;
  }
}
@media (max-width: 425px) {
  .item {
    flex-basis: 40%;
    margin: 5px;
    max-width: none;
  }
  .productSelectedName__typeInfo {
    padding: 0px 10px !important;
  }
  .route {
    padding: 1vh 1vw;
  }

  .item__product-name {
    margin: 0.5em 5px !important;
  }
  .product__prize {
    margin: 0 5px !important;
  }
  .numberOfItems {
    width: 100%;
    margin: 4px;
    text-align: left;
  }
  .RouteText__text {
    display: none;
  }
}
@media (max-width: 375px) {
  .catalog__product-display {
  }
}
